body{
font-family: copper black;
font-size: 120%;
background-color: #408080;
background-size: 100%;
margin:0px;}

a{margin:5px;}

h1{
font-family:copper black;
color: #ff80cd;
text-align: center;
font-size: 18;}

h2{
font-family:copper black;
color: #F1F1F2;
text-align: center;
font-size: 18;}

div{
font-family: copper black;
font-size: 120%;
color: #F1F1F2;
text-align: center;
font-size: 18;}

p{
font-family: copper black;
text-align: center;
color: #f1f1f2;
font-size: 18;}

img {
float: center;
width: 320px;
height: 250px;
margin-left: 40%;
margin-right: 40%;}

button{
font-family:copper black;
font-size: 150%;
text-align: center;
color: gray;}	

button{
list-style: none;
margin: 0;
padding: 0;}

button{
margin: 0;
padding: 0;
width: 1500px;
height: 40px;}