<!DOCTYPE html>
<html>
<head>
<title>My first web site</title>
<meta charset="utf-8">
<link rel="stylesheet" type="style/css" href="css/styles.css"type="text/css" media="screen"/>	 
<style type="text/css" title="currentStyle" media="screen">
<!--
@import url("css/style.css");
-->
</style>
</head>

<form action ="file:///C:/Users/t.khan/Desktop/website/news.html">
<button>Actualité</button>
</form>
       
<head>
<h1>BIENVENUE SUR MON SITE , ICI ON APPREND A CODER !</h1>
<p class="BIENVENUE SUR MON SITE DU CODE!"></p>

<body>
<div id="logo">
<img src="logo.jpg" width="400">
</div>
</body>

<br>

<h2>A quoi sert le code HTML & CSS quel sont les différences ?</h2>
<p> Le CSS nous permet d'ajouter du style ( couleur du fond , modifcation du taille image & text ).</p>
<p>Ensuite Le Html nous aide à realisée des site web au des jeu en ligne , si et seulement si on y ajoute une langauage supplémentaire que le html . 
<p>Le code html en lui-même n'a pas étaitcrée pour faire du logiciel .</p> 
<p>Mais des site web en ligne le site sont généralement des réseaux sociaux { Facebook , youtube } ou encore des site de design de couleur & des jeu en ligne .</p>

</br>
<div id="video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/ESsKJxVSqpM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

</html>
