<!DOCTYPE html>
<html>
<head>
<title>Actualités</title>
<meta charset="utf-8">
<link rel="stylesheet" type="design/css" href="design.css" type="/css" media="screen" />
		 
<style type="text/css" title="currentStyle" media="screen">
<!--
@import url("css./design.css");
-->
</style>

<form action="file:///C:/Users/t.khan/Desktop/website/index.html"><button>Accueil</button></form>

<h1>Voici nos actualités</h1>

<div id="html">
<img src="img/html.jpg"  width="700">
</div>

<h2>les site web sont de plus en plus sur les navigateur web . </h2>
 <p>Un navigateur web est un logiciel conçu pour consulter et afficher le World Wide Web. Techniquement, c'est au minimum un client HTTP..</p>

</head>
</html>